<!-- <h1>{{title}}</h1> -->
<!-- binding  -->

<!-- <app-inline></app-inline>

<app-str-directive></app-str-directive> -->

<!-- <app-attr-directive></app-attr-directive> -->

<!-- <app-attr-custom></app-attr-custom>  -->

<!-- <app-parent></app-parent> -->

<!-- <app-pipe></app-pipe> -->

<!-- <app-view-parent></app-view-parent> -->

<!-- <h4> h4 in app</h4> -->

<!-- <app-binding></app-binding> -->

<!-- Parent Name <input type="text" #message (keyup)="0"><br>

<app-lifecycle [parentData]="title"></app-lifecycle> -->

<app-course-multi-parent></app-course-multi-parent>

<!-- <app-temp-form></app-temp-form> -->

<!-- <app-reactive-forms></app-reactive-forms> -->
