<mat-toolbar color="primary">
  <div class="container">
    <div class="home">
      <img
        [ngStyle]="{ 'height.px': 60, 'width.px': 60, 'margin.px': 15 }"
        src="assets/svg-icons/bunk-hostel-svgrepo-com (1).svg"
      />
      <h1>Pg Inn</h1>
    </div>
    <div>
      <button mat-raised-button>Login</button>
      <button mat-raised-button color="primary">Register</button>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="footer-container">
  <img
    src="assets/svg-icons/copy-right.svg"
    [ngStyle]="{ 'height.px': 15, 'width.px': 15, 'margin.px': 2 }"
  />
  <p>All rights reserved to Pg Inn pvt Ltd</p>
</div>
